# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
ParticleSwarmOptimization/bin/Debug/FSharp.Core.dll
ParticleSwarmOptimization/bin/Debug/FSharp.Core.xml
ParticleSwarmOptimization/bin/Debug/ParticleSwarmOptimization.dll
ParticleSwarmOptimization/bin/Debug/ParticleSwarmOptimization.pdb
ParticleSwarmOptimization/bin/Debug/ParticleSwarmOptimization.XML
ParticleSwarmOptimization/obj/Debug/ParticleSwarmOptimization.dll
ParticleSwarmOptimization/obj/Debug/ParticleSwarmOptimization.pdb
ParticleSwarmOptimization/obj/Debug/ParticleSwarmOptimization.fsproj.FileListAbsolute.txt
